
/*Set Thuoc Tinh Chung Cho Web___________*/
*{
	margin:0;
	padding: 0;
}

body{
	background: #b5f4ef;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}

/*---------------------------------------------------------------------------------------------------*/
/*Bat Dau Header ____________________*/
.header{
	max-width:1000px;
	height:60px;
	background: black;
	border-radius: 10px;
	margin: 0 auto;
}
.logo{
	padding-left: 50px;	
	height: 50px;
	float: left;
}
.r{
	width: 500px;	
	float: right; /*De cho khoi' DIV cua thanh menu troi ve ben phai header*/
	padding-top: 5px;

}

.menu a{
	color: #aac8b2;
}
.menu li{
	float: left; /*De lam cho menu can ve cung 1 dong thi fai cho vao the LI*/
	height: 30px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
	vertical-align: middle;  /*de cho dong chu dc can ra giua dong*/
	max-width: 90px;

}
.menu li:hover{
	background: #788acf;
	color: yellow;
	border-radius: 15px;
	text-align: center;
	transition: all 1.5s;	
}
.menu li:last-child{
	padding-right: 40px;
}

/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/*<!-- Phan Anh Dai Dien san pham va gia tien + dat hang + mua tra gop -->*/
.content{
	padding-top: 50px;
	margin:0 auto;
	width: 1200px;
}

.anh-giatien img{/*set do rong cua anh dai dien + cho float left vs gia tien va thong tin khuyen mai + dat hang*/
	width: 250px;
	height: 250px;
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 100px; /*cach tu anh? den gia tien 100px*/
	float: left;
}
.dat-hang{
	padding: 50px; /*De tu cho gia tien cach top 50px*/
}
.giatien{
	font-weight: bold;
	font-size: xx-large;
	color: red;
}
.tron{/*doi dau cham o dau` list gia tien`*/
	list-style-type: circle;
}
.width-muahang{/*De set dc 2 nut mua hang + dat hang*/
	width: 150px;
	float:left;
	line-height: 40px;
	padding: 20px;
	text-align: center;
	font-weight: bold;
}
 .muahang li{/*doi dau cham o dau` 2 nut mua hang + dat hang*/
 	list-style-type: square;
 }
 .muahang li:hover{
 	background-color: #ec6f07;
 }
 .muahang li a{
 	color: #421101;
 }

/*---------------------------------------------------------------------------------------------------*/
.info{
	width: 500px;
	text-align: left;
	padding-top: 150px;
}
.info table,tr,td,th{
	border: 1px dotted #788acf;
	padding:3px;
}








