*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 0px; 
	margin-bottom: 0px; 
}
/*main-color*/
.test{
	background: #5BB957; /*xanh lá cây*/
	background: #1954f6; /*xanh lam*/
	background: #be3641; /*đỏ hồng*/
}
.clear-everything{
	clear: both;
}
hr{
	border:1px dashed #BE3841;
	margin-top: 15px !important; 
	margin-bottom: 5px !important;
}
/*||||||||||||||||||||||||||| END reset css ||||||||||||||||||||||||||||||||
/*-----------------------------------------------------------*/


/*|||||||||||||||||||||||||| Bắt đầu top logo - main-menu |||||||||||||||||||||||||||||||||*/
/*start logo*/
.logo-top{
	background: #f5f5f5;
}
.sologan{
	color: #333;
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	vertical-align: text-top;
}
.search-bar{
	padding-top: 5%;

}
.search-bar input{
	width: 80%;
	float: left;
}
/*end logo*/

/*start menu*/
.menu-top{
	background: #666 none repeat scroll 0 0;
	min-height: 50px;
	width: 100%;
}
.menu-top a,.menu-top span,.menu-top ul,.menu-top li{
	color: white !important;
	font-size: 18px;
}
.dropdown-menu{
	background: #fff none repeat scroll 0 0;
	border: 1px solid #e5e5e5;
	float: left;
	list-style: outside none none;
	margin: 0;
	/*	min-height: 417px;*/
	padding: 0;
	position: absolute;
	top: 50px;
	width: 100%;
	z-index: 999;
	margin-top:2px !important;
}

@media (min-width: 768px){
	.dropdown-menu{
		display: block;
		left: -25%;
		width: 125%;
	}
}
.dropdown-menu a{
	background: #fff url(../img/bg-li.png) no-repeat 15px center;
	border-left: 5px solid transparent;
	color: #666;
	float: left;
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 200;
	padding-top: 3.7% !important;
	padding-bottom: 3.7% !important;
	padding-left: 33px !important;
	text-decoration: none;
	border-bottom: 1px solid black;
	width: 100%;
}
.dropdown-menu a,.dropdown-menu li,.dropdown-menu ul{
	color: black !important;
}

.dropdown-menu>li>a:hover {
	color: #fff;
	border-left: 5px solid #1566b0;
	background: #46a3f7 url(../img/bg-li.png) no-repeat 15px center;
}
.giohang{
	background: url(../img/giohang.png) no-repeat center left !important;
}
a.giohang{
	padding-left: 40px !important;
}
/*end menu*/


/*bắt đầu top slide*/
.carousel-control.right{
	right: 0;
	left: auto;
}
.carousel-control.left {
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
	background-image: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;
}
.carousel-control.right {
	right: 0;
	left: auto;
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
	background-repeat: repeat-x;
}
.carousel-control {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 5%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	background-color: rgba(0,0,0,0);
	filter: alpha(opacity=50);
	opacity: .5;
}
/*.slide-top{
	overflow:hidden;
	margin:0;
	padding: 0;
	}*/
	@media (min-width: 768px){
		.slide-top.carousel-inner, .carousel-inner .item >a > img{ 
			max-height: 410px;
			width: 1000%;
			min-height: 410px !important;
			max-height: 411px;
		}
	}
	@media (max-width: 1024px){
		.carousel-inner, .carousel-inner .item >a > img{ 
			height: 410px;
			width: 150%;
		}
	}
	/*kết thúc top slide*/

	/*|||||||||||||||||||||||||| End top - main-menu |||||||||||||||||||||||||||||||||*/




	/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
	/*BẮT ĐẦU SHIPPING*/
	.giaohang{
		background: url(../img/shipping-giaohang.png) no-repeat rgba(0,0,0,0);
		height: 88px;
		padding-left: 112px;
		margin-bottom: 30px;
	}
	.thanhtoan{
		background: url(../img/shipping-thanhtoan.png) no-repeat rgba(0,0,0,0);
		height: 88px;
		padding-left: 112px;
		margin-bottom: 30px;
	}
	.uudai{
		background: url(../img/shipping-uudai.png) no-repeat rgba(0,0,0,0);
		height: 88px;
		padding-left: 112px;
		margin-bottom: 30px;
	}
	.shipping-part{
		padding-top: 50px;
	}
	.shipping-part h4{
		color: #333;
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		margin: 15px 0 0;
		text-transform: uppercase;
	}
	.shipping-part p{
		color: grey;
	}
	/*KẾT THÚC SHIPPING*/
	/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
	/*-----------------------------------------------------------*/
/*.bxslider li{
width: 100% !important;
}*/



/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*bắt đầu làm bar-title*/
.bar-giamgia{
	width: 100%;
	height: 60px;
	background:#f6f6f6  url(../img/bar-giamgia.jpg) 0 0 no-repeat;
	margin-bottom: 30px;
	color: white;
}
.bar-doitac{
	width: 100%;
	height: 60px;
	background:#f6f6f6  url(../img/bar-doitac.jpg) 0 0 no-repeat;
	margin-bottom: 30px;
	color: white;
}
.bar-tintuc{
	width: 100%;
	height: 60px;
	background:#f6f6f6  url(../img/bar-tintuc.jpg) 0 0 no-repeat;
	margin-bottom: 30px;
	color: white;
}
.bar-rubik{
	width: 100%;
	height: 60px;
	background:#f6f6f6  url(../img/bar-rubik.jpg) 0 0 no-repeat;
	margin-bottom: 30px;
	color: white;
}
.bar-banchay{
	width: 100%;
	height: 60px;
	background:#f6f6f6  url(../img/bar-banchay.jpg) 0 0 no-repeat;
	margin-bottom: 30px;
	color: white;
}
.bar-combo{
	width: 100%;
	height: 60px;
	background:#f6f6f6  url(../img/bar-combo.jpg) 0 0 no-repeat;
	margin-bottom: 30px;
	color: white;
}
.bar-giamgia h3,.bar-rubik h3,.bar-banchay h3,.bar-combo h3,.bar-tintuc h3,.bar-doitac h3{
	text-transform: uppercase;
	font-size: 24px;
	padding-left: 20px;
	font-style: normal;
	font-weight: 700;
	float: left;
	line-height: 60px;
	font-family: Roboto Slab;
}
.xemthem{
	float: right;
	line-height: 60px;
	padding-right: 30px;
	font-size: 17px;
}
/*kết thúc làm bar-title*/
/*-------*/
/*BẮT ĐẦU LÀM SLIDE PRODUCT*/
/*set lại các thuộc tính của nút next back slide*/
.slide-product1{
	position: relative;
	margin-top:30px;
}
.carousel-indicators li{
	display: none !important
}
.carousel-control.left {
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
	background-image: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;
	color: red;
	position: absolute;
	left: 0;
}
.carousel-control.right {
	position: absolute;
	right: 0;
	left: auto;
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
	background-repeat: repeat-x;
	color: red;

}
.carousel-control {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 5%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	background-color: rgba(0,0,0,0);
	filter: alpha(opacity=50);
	opacity: .5;
}
.carousel-inner, .carousel-inner .item >a > img {
	height: auto; 
	width: 100%;
}
/* END !!! set lại các thuộc tính của nút next back slide*/
.product-inline-img img{
	width: 100%;
	/*display: inline !important;*/
}
.padding-slide{
	text-align: center !important;
}
.well{
	margin:10px -10px;
	padding: 0;
}
/*info san pham*/
.info-product{
	padding: 10px;
	text-align: left;
	position: relative;
}
.info-product h4{
	color: #333;

	font-family: Open Sans;
	font-size: 20px;
	/* max-width: 100%; */
	overflow: hidden;
	padding-right: 55px;
	/* position: relative; */
	text-overflow: ellipsis;
	white-space: nowrap;
}
.info-product h4 span{
	background: #eb212e;
	position: absolute;
	right: 0;
	text-align: center; 
}
.summary{
	margin-top: 20px;
	padding: 5px;
	opacity: 0.6;
	text-align: justify;
	height: 60px;
	margin-bottom: 30px;
	text-overflow: ellipsis;
	overflow: hidden;

}
.new-price{
	font-size: 21px;
	font-weight: 700;
	color: #BE3841;
}
.p-wid1{
	width: 40%;
	float: left;
	text-align: center;
	border-right: 1px dashed #BE3841;
}
.p-wid2{
	float: left;
	width: 60%;
}
@media (max-width:){
	.info-product h4 span{
		display: none !important;
	}
}
@media (max-width: 600px){
	.p-wid1{
		width: 100%;
		border: none;
	}
	.p-wid2{
		display: none !important;
	}
}
.iconshop .btn{
	width: 100%;
	background: #BE3841;
	margin-left: 5px;
	transition: 0.3s ease;
}
.iconshop .btn:hover{
	background: #5BB957;
	transition: 0.3s ease;
}
.iconshop .btn span{
	margin-left: -3px;
	word-spacing: -23px;
	color: white;
	font-weight: bold;
}

/*-----*/
/*KẾT THÚC LÀM SLDIE PRODUCT*/
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*Bắt đầu làm news*/
.slide-company{
	position: relative;
	height: 80px;
}
.company-left{
	height: none;
	position: absolute;
}
/*kết thsuc làm news*/
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*footer */
.foot{
	margin-top:13%;
	background: #2A2E39;
}
.hethongcuahang,.ketnoivoistoy,.thongtinstoy,.hotrobanhang{
	text-transform: capitalize;
	color: white;
}
.bot{
	margin-top: 50px;
	padding-bottom: 50px;
	overflow-y: hidden;
}













/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*bắt đầu làm trang con*/
.product-name{
	color: #5BB957;
	font-size: 35px;
	font-weight: bold;
	padding: 20px;
	text-transform: capitalize;
}
.thongtindaidien{
	line-height: 30px;
}
.cangiua{
	background: #f0f0f0;
	text-align: center;
	float: left;
	display: inline;
	width: 100%;
}
.iconshop-children{
	display: block;
	text-align: center;
}
@media(min-width: 1214px){
	.iconshop-children{
		display: inline;
		float: right;
		margin-left: 0 !important;	
	}
}
.iconshop-children .btn{
	background: #BE3841;
	margin-left: 5px;
	transition: 0.3s ease;
}
.iconshop-children .btn span{
	color: white;
}
.pro-price{
	display: block;text-align: center;
}
@media(min-width: 1214px){
	.pro-price{
		line-height: 40px;
		padding-top: 5px;
		float: left;
	}
}
.pro-price>span{
	opacity: 0.6;
	font-size: 16px;
}
.old-price{
	padding-left: 10px;
}
.cangiua .pro-price{
	margin-left: 20px;
	margin-right: 20px;
	color: #BE3841;
	font-size: 38px;
	font-weight: bold;
}
/**/
.sub-title{
	margin-left: 20px;
	margin-top: 30px;
	font-size: 18px;	
}
/*phần bình luộn giới thiệu video rating*/
/*phần dưới children*/
.raterate{
	margin-top: 30px;
}
.size-nav{
	font-size: 25px;
}
.fontchonavtabs h3{
	padding-top: 20px;
	color: #BE3841;
	padding-bottom: 10px;
	border-bottom: #BE3841 1px dashed;
}
.fontchonavtabs p{
	text-indent: 30px;
}
.fontchonavtabs{
	font: 13px/1.4 "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #646464;
	line-height: 35px;
}
.fontchonavtabs ul{
	list-style-type: disc !important;	
	margin-left: 30px;	
}
.gioithieu-anh img{
	width: 30%;
	margin: 20px auto;
}
/*video*/
#danhgiavabinhluan legend {
	display: inline-block; 
	margin-left: 30px;
	padding: 10px;
	width: auto;
	margin-bottom: 20px; 
	font-size: 21px; 
	line-height: inherit; 
	color: #333; 
	border: 0; 
	border-bottom: 1px solid #e5e5e5;
}
#danhgiavabinhluan label,#danhgiavabinhluan input,#danhgiavabinhluan textarea{
	
	margin-left:20px;
}
#danhgiavabinhluan input,#danhgiavabinhluan textarea{
	width: 90%;
	display: block;
	margin:0 auto;
	line-height: 35px;
	font-size: 20px;
}
#danhgiavabinhluan textarea{
	margin-bottom: 20px;
}

/*table*/

#rating input{
	width: auto !important;
	text-align: center;
}
#rating th{
	color: white;
	background: rgba(47, 55, 66, 0.77);
}
input.sub-rating{
	width: 12%!important;
	float: left;
	margin-bottom: 30px !important;
	margin-left: 5% !important;
}

.rating{
	width: 90%;
	margin:20px auto;
}
.rating,.rating th,td,tr {
	border:1px solid #BE3841;
	border-collapse: collapse;
	text-align: center;
}

.w-left{
	width: 50%;
}
.w-right{
	width: 10%;
	padding-left: 10px;
	padding-right: 10px;
}
.text-left{
	padding-left: 30px;	
	font-size: 18px;
}
.cothebanquantam{
	margin-top: 30px;
	font-size: 25px;
	color: #BE3841;
}
.cothebanquantam hr{
	margin-top:7px;
}




/*danh sách sản phẩm*/
/* -----------------------------------------------------------------*/
/*Bắt đầu danh sách sắp xếp*/
.danhsachsanpham{
	margin-top: 50px;
	margin-bottom: 50px;
	border-top: 1px solid black;
	padding-top: 30px;
}
.order-categories{
	background: #5BB957;
	border-radius: 8px;
	margin-bottom: 20px;
	margin-top:20px;
}
.order-categories h3{
	display: inline-block;
	padding: 10px 30px;
}
.order-categories select{
	width: 30%;
	margin-bottom: 10px;
}
/*Kết thúc danh sách sắp xếp*/
/*hiển thị*/
.hienthi-select{
	margin-left: 30px;	
	padding: 10px;
	font-size: 30px;
	width: 150px;
}
.hienthi-left{
	float: left;
	line-height: 40px;
}
.hienthi-right{
	float: right;
	margin:0; 
}
.hienthi{
	border-bottom: 1px solid black;
	padding-bottom: 20px;
}
.product-inline-img{
	margin-top: 50px !important;
}
/*end hiển thị*/












