*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
/*main-color*/
.test{
	background: #5BB957; /*xanh lá cây*/
	background: #1954f6; /*xanh lam*/
	background: #be3641; /*đỏ hồng*/
}

/*-----------------------------------------------------------------*/
/*set background body fixed*/
body{
	background: url(../img/bg.png);
}
/*.container{
	background: rgba(91, 185, 87, 0.07);
	height: 1000px;
}
*/

/*-----------------------------------------------------------------*/







/*-----------------------------------------------------------------*/









/*-----------------------------------------------------------------*/
























































































































































































