*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 16px;
}

.author{
	bottom:30px;
	right: 30px;
	position: fixed;
	opacity: transparent;
	z-index: 1000;
}
/*<!-- ----------------------------------------------------------------------------------------------------------------------------------------------- -->*/
/*HEADER*/
.first-header{
	text-align: right;
	margin-right: 30px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
}
.first-header a{
	font-weight: bold;
	color: #337ab7;
}
.header{
	background:#15a267;

}
.second-header{
	width: 1200px;
	margin: 0 auto;
	height: 65px;
}
.logo{
	width: 600px;
	float: left;
}
.logo img{
	height: 40px;
	padding-top: 15px;
	padding-bottom: 5px;
}
.menu{
	width: 600px;
	float: left;
}
.menu ul{
	list-style-type: none;
}
.menu ul a{
	text-decoration: none;
	color: white;
}
.menu ul li{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 65px;
	vertical-align: middle;
	transition-delay: 0.3s;
	transition: ease 1s;
}
.menu ul li:hover{
	background: #094C3E;
	transition: ease 1s;
}


/*<!-- ----------------------------------------------------------------------------------------------------------------------------------------------- -->*/
/*CONTENT 1*/
/*@keyframes title{
	0%{background: url(https://www.topcv.vn/v2/images/hero-bg.svg);}
	25%{background: url(http://watermarked.cutcaster.com/cutcaster-photo-100412598-HTML-Background.jpg);}
	50%{background: url(http://1.bp.blogspot.com/-hrGFLyJba3U/Uh90QVFp01I/AAAAAAAAFoY/F5R7LBbTox0/s1600/Background-Picture-Html.jpg);}
	75%{background: url(http://3.bp.blogspot.com/-fbF70eoMcbI/Uh91HI5CJXI/AAAAAAAAFvA/NhG5roKoiws/s1600/Background-Picture-Html5.jpg);}
	100%{background: url(http://science-all.com/image.php?pic=/images/wallpapers/white-background-image/white-background-image-2.jpg);}
}	
body{
		animation: title 20s ease infinite;
}	*/
.content1{
	height: 650px;
	background: url(https://www.topcv.vn/v2/images/hero-bg.svg) no-repeat;

}
.width-content1{
	width: 1200px;
	margin:0 auto;
}
.content1-data{
	padding-top: 100px;
	text-align: center;
	color: grey;	
}
.content1-data h2{
	padding-top: 24px;
}
.content1-data p{
	padding-top: 80px;

}
.content1-data a{
	text-decoration: none;
	width: 200px;
	margin-bottom:30px;
	color: grey;
	vertical-align: middle;
	display: inline-block;
	transition-delay: 0.1s;
	transition: ease-in-out 0.5s;
}
.content1-data a:hover{
	text-decoration: underline;
	transform:scale(1.1);
	transition: ease-in-out 0.5s;
}
.content1-img{
	text-align: center;
	padding-top: 100px;
}
.content1-img img{
	width: 300px;
	overflow:hidden;
	padding-left: 10px;
	padding-right: 10px;
	transition-delay: 0.1s;
	transition: ease-in-out 0.5s;

}
.content1-img img:hover{
	transform:scale(1.6);
	transition: ease-in-out 0.5s;
}
/*<!-- ----------------------------------------------------------------------------------------------------------------------------------------------- -->*/
/*COMPANIES*/
.companies{
	margin-top: 290px;
	background:#eee;
	height: 70px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
.wid-companies{
	width: 1200px;
	margin: 0 auto;
}
.wid-companies ul{
	list-style-type: none;
}
.wid-companies img{
	height: 45px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 17px;
}
.wid-companies li{
	display: inline-block;
}

/*<!-- ----------------------------------------------------------------------------------------------------------------------------------------------- -->*/
/*TINH NANG*/

.f-header{
	text-align: center;
	text-decoration: underline;
	color: #15a267;
	margin-top:40px;
}
.wid-features{
	width: 1200px;
	margin:0 auto;
}
.f-img{
	width: 570px;
	height: 350px;
	float: left;
	padding: 15px;
	margin-top: 60px;
}
.f-img img{
	height: 300px;
	transition-delay: 0.2s;
	transition: ease-in-out 0.5s;
}
.f-img img:hover{
	transform: scale(1.3);
	transition: ease-in-out 0.5s;
}

.f-info{
	width: 570px;
	height: 350px;
	float: left;
	margin-top: 60px;
	padding: 15px;
	line-height: 40px;
}
.f-info h4{ 
	text-align: center;
	text-transform: uppercase;
	color: #15a267;
}
.f-info p{
	color: grey;
}
.marg-button{
	margin-top: 30px;
}
.f-button{
	margin-top: 30px;
	padding:15px;
	border-radius: 8px;
	text-decoration: none;
	border: 1px solid #50e9be;
	transition-delay: 0.3s;
	transition: ease-in-out 0.5s;
	color: #607ea7;
}
.f-button:hover{
	background: #15a267;
	transition:ease-in-out 0.5s;
}

/*<!-- ----------------------------------------------------------------------------------------------------------------------------------------------- -->*/
/*DANG KI MIEN PHI*/
.signup{
	background: #019171;
	clear: left;
}
.wid-signup{
	width: 1200px;
	margin:0 auto;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
}
.wid-signup h2{
	font-weight: 200;
	font-size: 35px;
	color: white;	
	padding-bottom: 60px;
}
.signup-button{
	padding: 15px 30px;
	border: 1px solid white;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	transition-delay: 0.2s;
	transition: ease-in-out 0.5s;
}
.signup-button:hover{
	background: white;
	transition: ease-in-out 0.5s;
	color: #019171;
}

/*<!-- ----------------------------------------------------------------------------------------------------------------------------------------------- -->*/
/*Mau CV*/

.cv-form h2{
	font-weight: 200;
	text-decoration: underline;
	text-align: center;
	padding: 50px;
	color: grey;
}
.wid-cvform{
	width: 1200px;
	margin:0 auto;	
}
.wid-cvform ul{
	list-style-type: none;
	text-align: center;
	padding-left: 200px;
}
.wid-cvform ul li{
	position: relative;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}	
.wid-cvform ul li a{
	float: left;
	display: block;
}
.wid-cvform ul li ul{
	position: absolute;
	display: none;
}
.wid-cvform ul li ul li{
	float: left;
}
.wid-cvform ul li ul li img{
	width: 200px;
}
.wid-cvform ul li:hover{
	display: block;
}	

.wid-cvform ul li:hover > ul{display:block}




/*<!-- ----------------------------------------------------------------------------------------------------------------------------------------------- -->*/

/*<!-- ----------------------------------------------------------------------------------------------------------------------------------------------- -->*/
.foot{
	width: 1200px;
	height: 10000px;
}



