*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 0px; 
	margin-bottom: 0px; 
}
/*main-color*/
.test{
	background: #5BB957; /*xanh lá cây*/
	background: #1954f6; /*xanh lam*/
	background: #be3641; /*đỏ hồng*/
}
.clear-everything{
	clear: both;
}

/*-----------------------------------------------------------------*/
/*set background body fixed*/
body{
	background: url(../img/bg.png);
}
.container{
	background: rgba(91, 185, 87, 0.07);
	/*	height: 10000px;*/
}
/*-----------------------------------------------------------------*/
/*---------------------------- TOP -------------------------------------*/
/*-----------------------------------------------------------------*/
/*TOP RESIGN */

.nav-fix{
	/*position: fixed;*/
	width: 100%;
	/*	z-index: 1000;*/
}
.navbar-inverse {
	background-color: rgba(26, 180, 177, 0.94);
}
.navbar-header a.navbar-brand{
	color:red;
	font-family: 'Nosifer', cursive;
	/*color: red !important ;*/
	font-weight: 400;
	font-size: 1.8em;
}
.nav a:hover{
	color: white !important;
}
.navbar-collapse a.dropdown-menu{
	color: red;
}
.drop-color-a{
	color:#ebefc7 !important;
	font-size: 1.3em;
	/*color của thẻ a menu*/
}
/*END TOP-RESIGN*/



/*-----------------------------------------------------------------*/
/*THANH BỘ LỌC*/

.breadcrumb {
	padding: 8px 15px;
	margin-top:20px;
	margin-bottom: 20px;
	list-style: none;
	background: rgba(91, 185, 87, 0.09);
	font-size: 17px;
}
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*----------------------------- LEFT CONTENT ------------------------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*Làm main-menu col-3 bên trái*/
@media  (min-width: 1024px){	
	.col-lg-3 .panel-group .panel{
		min-width: 115%;
	}
}
.span-right{
	float: right;
	margin-right: -10px;	
}
.panel a{
	display: block;
	line-height: 15px;
	text-transform: capitalize;
}
.glyphicon{
	/*set font chữ cho các thẻ a*/
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
	word-spacing: -3px;
	-moz-osx-font-smoothing: grayscale;
	color: #5BB957;
}
.panel-group{
	margin-top: 20px;
}
.panel .panel-heading:hover {
	background: rgba(91, 185, 87, 0.49);
	color: #1954f6;
	transition: ease 0.5s;
}





/* -----------------------------------------------------------------*/
/*Bắt đầu danh sách sắp xếp*/
.order-categories{
	background: #5BB957;
	border-radius: 8px;
	margin-bottom: 20px;
}
.order-categories h3{
	display: inline-block;
	padding: 10px 30px;
}
.order-categories select{
	width: 30%;
	margin-bottom: 10px;
}
/*Kết thúc danh sách sắp xếp*/





/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*---------------------------- RIGHT CONTENT-------------------------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/

/*Bắt đầu làm products*/
.padding-product{
	padding-left: 35px;
}
/* -----------------------------------------------------------------*/
/*SLIDE ảnh*/
.wrap-slide{
	margin-top: 30px;
}
.wrap-slide h2{
	text-align: center;
	font-size: 35px;

	font-weight: 400;
	text-transform: uppercase;
}




/*set lại các thuộc tính của nút next back slide*/
.carousel-control.right{
	right: 0;
	left: auto;
}
.carousel-control.left {
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
	background-image: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;
}
.carousel-control.right {
	right: 0;
	left: auto;
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
	background-repeat: repeat-x;
}
.carousel-control {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 5%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	background-color: rgba(0,0,0,0);
	filter: alpha(opacity=50);
	opacity: .5;
}
/* END !!! set lại các thuộc tính của nút next back slide*/
/*-----*/


/*set tiêu đề cho slide*/
.title-slide{
	background: rgba(91, 185, 87, 0.32);
	border-radius: 8px;
}
.title-slide h3{
	min-width: 35%;
	padding: 10px;
	text-transform: uppercase;
	background: #5BB957;
	border-radius: 8px 0 0 8px;
	display: inline-block;
}
.title-slide h2{
	display: inline-block;
	float: right;
	padding-top: 4px;
	padding-right: 10px;
}

/*Bắt đầu set ảnh size và hiệu ứng*/
/*.b .info-product{
	float: left;
	width: 50%;
	position: relative;
	padding: 3px;
	}*/
	/*@media (min-width: 1024px){*/
		.b .info-product{
			float: left;
			width: 33%;
			position: relative;
			padding: 3px;
		}
		/*}*/
		.info-product img{
			width: 100%;
		}
		span.info-hover{
			position: absolute;
			top: 0%;
			left: 2.5%;
			width: 95%;
			height: 50%;
			background-color: rgba(255, 255, 255, 0.69);
			display: none;
			z-index: 10000;
		}
		.img-img:hover span{
			visibility: visible;
			display: block;	
		}
		.img-img span{
			padding: 10px;
			text-align: justify;
		}
		.carousel-indicators li{
			display: none;
		}
		/*end hiệu ứng hover và chỉnh size ảnh*/
		/*--------------*/
		/*bắt đầu làm detail thông tin của sản phẩm dưới ảnh*/
		.detail-img{
			width: 100%;
			background: #FFF;
			text-align: center;
		}
		.detail-img h4{
			text-transform: uppercase;
		}
		.padding-detail{
			padding: 20px;
		}
		.detail-img .btn{
			padding: 10px 12px;
			background: #BE3841;
			letter-spacing: -2px;	
		}
		.detail-img .btn a{
			color: #fff;
			font-family: 'Glyphicons Halflings';
		}
		.detail-img .btn span{
			color: #fff;
		}
		.detail-img button:hover {
			background: rgba(3, 169, 244, 0.69);
			transition: ease 0.3s;
		}
		.detail-img button:hover span{
			transform: scale(1.2);
			overflow:hidden;
			transition: ease 0.4s;
		}
/*@media (max-width: 200px){
	.detail-img button h3{
		font-size: 15px;
	}
}

.detail-img .iconshop  button h3{
font-size: 24px;
}*/

.notsale{
	opacity: 0.5;
	color: #BE3841;
	font-weight: bold;
	font-size: 16px;
	text-decoration:line-through; 
}
.already-sale{
	color: #BE3841;
	font-weight: bold;
	font-size: 20px;
}

/*detail thông tin của sản phẩm dưới ảnh*/
/*-----------*/
/*end slide ảnh*/









/* -----------------------------------------------------------------*/
/*Bắt đầu PRODUCT2*/




/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*------------------------------ FOOTER -----------------------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*company logo*/
.item-company{
	margin-top: 30px;
	padding-left: 30px;
}
.item-company img{
	width: 19%;
	display: inline-block;
	border:1px solid black;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	max-width: 100%;
	height: auto;
	display: inline-block;
}
/*footer*/
.footer{
	overflow-y: hidden;
	margin-top: 30px;
}
.bot h4{
	line-height: 26px;
	font-size: 20px;
	text-align: justify;
	text-transform: capitalize;
}
.bot a{
	line-height: 22px;
}
.bot li,.bot dd, .bot dt{
	text-transform: capitalize;
}
.footer{
	background: rgba(255, 0, 0, 0.19);
}














/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*------------------------------ CHILDRENt -----------------------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/

/*phần trên children*/
.anhsanpham img{
	display: block;
	width: 100%;
	margin-top:20px;
}
.product-name{
	color: #5BB957;
	font-size: 35px;
	font-weight: bold;
	padding: 20px;
	text-transform: capitalize;
}
.cangiua{
	text-align: center;
}
.thongtin-sanpham p{
	line-height: 30px;
}
.price{
	margin-left: 20px;
	margin-right: 20px;
	color: #BE3841;
	font-size: 38px;
	font-weight: bold;
}
.iconshop-children .btn{
	background: #BE3841;

}
.iconshop-children .btn span{
	color: white;
	font-weight: bold;
}
.thongtin-chitiet{
	width: 50%;
	background: rgba(51, 122, 183, 0.3);
	padding: 10px 20px;
}
.thongtin-chitiet h4{
	border-bottom: 1px solid #BE3841;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 18px;
	color: #BE3841;
	text-align: center;
}
.thongtin-chitiet  dt, .thongtin-chitiet dd{
	text-transform: capitalize;
}


/*phần dưới children*/
.size-nav{
	font-size: 25px;
}
.fontchonavtabs h3{
	padding-top: 20px;
	color: #BE3841;
	padding-bottom: 10px;
	border-bottom: #BE3841 1px dashed;
}
.fontchonavtabs p{
	text-indent: 30px;
}
.fontchonavtabs{
	font: 13px/1.4 "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #646464;
	line-height: 35px;
}
.fontchonavtabs ul{
	list-style-type: disc !important;	
	margin-left: 30px;	
}
.gioithieu-anh img{
	width: 30%;
	margin: 20px auto;
}
/*video*/
#danhgiavabinhluan legend {
	display: inline-block; 
	margin-left: 30px;
	padding: 10px;
	width: auto;
	margin-bottom: 20px; 
	font-size: 21px; 
	line-height: inherit; 
	color: #333; 
	border: 0; 
	border-bottom: 1px solid #e5e5e5;
}
#danhgiavabinhluan label,#danhgiavabinhluan input,#danhgiavabinhluan textarea{
	
	margin-left:20px;
}
#danhgiavabinhluan input,#danhgiavabinhluan textarea{
	width: 90%;
	display: block;
	margin:0 auto;
	line-height: 35px;
	font-size: 20px;
}
#danhgiavabinhluan textarea{
	margin-bottom: 20px;
}

/*table*/

#rating input{
	width: auto !important;
	text-align: center;
}
#rating th{
	color: white;
	background: rgba(47, 55, 66, 0.77);
}
.rating{
	width: 90%;
	margin:20px auto;
}
.rating,.rating th,td,tr {
	border:1px solid #BE3841;
	border-collapse: collapse;
	text-align: center;
}

.w-left{
	width: 50%;
}
.w-right{
	width: 10%;
	padding-left: 10px;
	padding-right: 10px;
}
.text-left{
	padding-left: 30px;	
	font-size: 18px;
}
.cothebanquantam{
	margin-top: 30px;
	font-size: 25px;
 	color: #BE3841;
}
.cothebanquantam hr{
	margin-top:7px;
}


















































































































































