@import url(https://fonts.googleapis.com/css?family=Pacifico);
/*font-family: 'Pacifico', cursive;*/



*,ul,li{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background: url(../images/bg4.jpg) no-repeat top left fixed;
	background-size: cover;
	min-height: 2000px;
}
.anima{
	transition: linear 0.3s;
	transition-delay: 0.1s;
}
.clearfix{
	clear: both;
}
.clearmargin{
	margin-top:-100px;
}



.demo{
	height: 60px;
	margin: 0 auto;
	/*	background: #c3bfb4;*/
	width: 100%;
}

.demo-top{
	margin:0 auto;
	width: 100%;
	height: 60px;
	background: #306a5d;
}
.demo-bot{
	width: 100%;
	height: 60px;
}
.demo-shape{
	width: 60px;
	height: 60px;
	float: right;
	
}
.shape{
	border-right: 30px solid #306a5d;
	border-top: 30px solid #306a5d;
	border-bottom: 30px solid #FFFFFF;
	border-left: 30px solid #FFFFFF;
}
.demo-content{
	background: #306a5d;
	color: white;
	float: right;
	width: 245px;
	padding-top: 20px;
	text-align: center;
	height: 60px;
}
.demo-content a{
	color: white;
	font-size: 20px;
	font-weight: bold;
}










.nav-fix{
	position: fixed;
	width: 100%;
	z-index: 1000;
}
.navbar-inverse {
	background-color: rgba(26, 180, 177, 0.94);
}
.navbar-header a.navbar-brand{
	color:red;
	font-family: 'Nosifer', cursive;
	/*color: red !important ;*/
	font-weight: 400;
	font-size: 1.8em;
}
.nav a:hover{
	color: white !important;
}
.navbar-collapse a.dropdown-menu{
	color: red;
}
.drop-color-a{
	color:#ebefc7 !important;
	font-size: 1.3em;
	/*color của thẻ a menu*/
}

/* -----------------------------------------------------------------*/
/*content1*/
.content1{
	position: relative;
}
.ads{
	position: absolute;
	width: 20%;
	top:50%;
	left: 10%;
	text-align: center;
}
.panel{
	background-color: rgba(255, 255, 255, 0.44);
}
.ads button:hover{
	opacity: 0.5; 
}
.btn{
	margin-bottom: 20px;
}

/* -----------------------------------------------------------------*/
/*//CSS cho sub-menu*/
.content1{
	background: url(../img/bg-header.jpg) center center no-repeat ;
	height: 100vh;
	width: 100%;
	background-size: cover;
}
.active{
	background: #1085c1;
}
.dropdown-menu{
	background: #1085c1;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: 0px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}
.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}


.ho:hover, .ho:hover a{
	opacity: 0.6;
	background: transparent;
	color: black !important;
	font-weight: bold;
}
/** -----------------------------------------------------------------*/
/*SLIDE ảnh*/
.wrap-slide{
	margin-top: 100px;
	margin-bottom:100px;
}
.wrap-slide h2{
	text-align: center;
	font-size: 35px;
	padding-bottom: 100px;
	font-weight: 400;
}
.	
.carousel-control.right{
	right: 0;
	left: auto;
}

.carousel-control.left {
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
	background-image: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;
}

.carousel-control.right {
	right: 0;
	left: auto;
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
	background-repeat: repeat-x;
}
.carousel-control {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 5%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	background-color: rgba(0,0,0,0);
	filter: alpha(opacity=50);
	opacity: .5;
}

.b .info-product{
	float: left;
	width: 25%;
	position: relative;

}
span.info-hover{
	position: absolute;
	top: 20%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.74);
	display: none;
	z-index: 10000;
}
.info-product:hover span{
	visibility: visible;
	display: block;	
}


/* -----------------------------------------------------------------*/







/*boygirl*/
.boygirl .boy{
	float: left;
	width: 50%;
	position: relative;
}
.boy img{
	width: 100%;
}

span.bogi{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(249, 245, 242, 0.69);
	display: none;
	z-index: 10000;
}
.boy:hover span{
	visibility: visible;
	display: block;	
	overflow: hidden;
	overflow-x: hidden;
}

.head-boygirl{
	font-size:40px;
	font-weight: 900;
	text-align: center;
	padding-top: 100px; 
}


















.abc{
	background-color: #F9F5F2;
}






































































































































