.author {
	bottom: 30px;
	right: 30px;
	position: fixed;
	opacity: transparent;
	z-index: 1000;
}
/*<div class="author">
Created by Ti-Nguyen
<a href="#"><img src="img/tlogo.png" alt="Tlogo">
</div>
<link rel="icon" href="img/tinglogo.png">
<meta name="viewport" content="width=device-width, initial-scale=1">*/